<% content_for(:title, t('.title')) %>

<div class="text-center">
    <div class="form-signin">
        <h3 class="my-5 fw-normal">パスワードリセット</h3>
        <%= form_with url:password_resets_path,method: :post,local: true do |f|%>
            <div class="form-floating">
                <%= f.text_field :email, placeholder: "メールアドレスを入力", class: "m-3" %>
                <%= f.submit "送信",class:"btn btn-secondary" %>
            </div>
        <%end%>
    </div>
</div>