<p><%= @user.email %>様</p>
<p>===============================================</p>

<p>ポメドーロのログインのパスワードリセットの申請を受け付けました。</p>

<p>パスワードの再設定をご希望の場合は、<br>以下URLをクリックし新しいパスワードをご登録ください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>※本メールに心当たりが無い場合は破棄をお願いいたします。<br>※送信専用メールアドレスのため、直接の返信はできません。</p>

<p>===============================================</p>
著名
<p>===============================================</p>

